/* You can add global styles to this file, and also import other style files */
body {
    margin: 16pt;
    background-color: black;
}

@mixin global-font-styling {
    font-family: 'Roboto Mono', monospace;
    color: white;
}